build/
install/
log/
.venv/
__pycache__/
*.pyc

/src/sauvc_poles_pkg/sauvc_poles_pkg/Perception/dataset_2.mov
/src/sauvc_poles_pkg/sauvc_poles_pkg/Perception/yellow_pole.png
/src/sauvc_poles_pkg/sauvc_poles_pkg/Perception/yellow_pole_2.png
/src/sauvc_poles_pkg/sauvc_poles_pkg/Perception/yellow_pole_3.jpg
/src/sauvc_poles_pkg/sauvc_poles_pkg/Perception/output_with_bbox.mp4
/src/sauvc_poles_pkg/sauvc_poles_pkg/Perception/red_pole_2.jpg
/src/sauvc_poles_pkg/sauvc_poles_pkg/Perception/red_pole.png

/src/sauvc_poles_pkg/sauvc_poles_pkg/Perception/sauvc_test_lab.py
/src/sauvc_poles_pkg/sauvc_poles_pkg/Perception/poles_yaw_lab.py
/src/sauvc_poles_pkg/sauvc_poles_pkg/Perception/test.py

/src/sauvc_poles_pkg/sauvc_poles_pkg/Perception/.DS_Store

/src/sauvc_poles_pkg/sauvc_poles_pkg/Perception/sauvc
/src/sauvc_poles_pkg/sauvc_poles_pkg/Perception/poles_dataset

aruco.mov